.dlg_container {
  background: rgba(200, 200, 200, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.canvas_container {
  margin: auto;
  width: 360px;
}

.canvas_container .row {
  margin-left: 0;
  margin-right: 0;
}

.denpyo {
  margin: 0.25rem;
  width: 18rem;
}
