.headbutton_container .btn {
  margin: 0.25rem;
}

.dlg_container {
  background: rgba(148, 148, 148, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.canvas_container {
  margin: auto;
  width: 360px;
}

.canvas_container .row {
  margin-left: 0;
  margin-right: 0;
}

.denpyo {
  margin: 0.25rem;
  width: 18rem;
}

#loading {
  background-color: #fff;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
}

#loading .loadingMsg {
  background: url("../images/loading.gif") center center no-repeat;
  display: table-cell;
  padding-top: 140px;
  text-align: center;
  vertical-align: middle;
}
